<p id="notice"><%= notice %></p>




  <section class="bg-secondary py-4">
    <div class="container-fluid">
      <div class="row text-white text-center">
        <div class="col m-4">
          <h1 class="display-4 mb-4">Album</h1>
          <div class="underline mb-4"></div>
          <p class="lead">some text can go here!</p>
        </div>
      </div>


      <div class="row">
        <% @messages.each do |message| %>
        <div class="col-md-4 col-sm-6 my-5">
          <div class="card border-0 card-shadow">
            <%= link_to image_tag(message.main_image.variant(resize: '300x300')), class: 'card-img' %>
            <div class="card-img-overlay">
              <h5><%= link_to message.title, message_path(message), class: 'text-white text-uppercase font-weight-bold p-2 heading' %></h5>
            </div>
          </div>
        </div>
      <% end %>
      </div>

    </div>

  </div>
  </section>


<br>

<%= link_to 'New Message', new_message_path %>
