<div class="container">
  <h1 class="display-3 text-center message-form pt-5">New Message</h1>

  <%= render 'form', message: @message %>

  <%= link_to 'Back', messages_path, class: 'form-link' %>
</div>
