
  <!-- Start pricing Section -->
    <div id="pricing" class="offset">
      <!-- Start Jumbotron -->
      <div class="jumbotron">
        <div class="narrow">
          <div class="os-animation" data-animation="fadeInUp">
            <h3 class="heading display-3 text-center ptp-3 pb-5">Subscription Pricing</h3>
            <div class="heading-underline"></div>
          </div>
          <!-- Start of Pricing Columns -->
          <div class="row justify-content-md-center">
            <div class="col-md-6 col-lg-4">
              <div class="os-animation" data-animation="fadeInLeft">
                <div class="pricing-column text-center">
                  <h3>Basic</h3>
                  <p>The Basic Plan, best plan to get you started</p>
                  <div class="pricing-features">
                    <h4><span class="item">Unlimited Image Uploads </span>/ $10 / month</h4>
                    <h4><span class="item">Responsive Design</span></h4>
                    <h4><span class="item">Access Anywhere</span></h4>
                  </div>
                  <h1>$10</h1>
                  <a href="#contact" class="btn btn-tan btn-sm">Buy Now</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="os-animation" data-animation="fadeInUp">
                <div class="pricing-column text-center">
                  <div class="ribbon">Best Value</div>
                  <h3>Choice</h3>
                  <p>The Choice Plan, for the more adventerous artists</p>
                  <div class="pricing-features">
                    <h4><span class="item">Unlimited Image Uploads</span>/ $20/ month</h4>
                    <h4><span class="item">Responsive Design</span></h4>
                    <h4><span class="item">Access Anywhere</span></h4>
                    <h4><span class="item">Free Templates</span></h4>

                  </div>
                  <h1>$20</h1>
                  <a href="#contact" class="btn btn-turquoise btn-sm">Buy Now</a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="os-animation" data-animation="fadeInRight">
                <div class="pricing-column text-center">
                  <h3>Connoisseur</h3>
                  <p>The best plan for those who delight with many new adventures</p>
                  <div class="pricing-features">
                    <h4><span class="item">Unlimited Uploads</span>/ $30/ month</h4>
                    <h4><span class="item">Responsive Design</span></h4>
                    <h4><span class="item">Access Anywhere</span></h4>
                    <h4><span class="item">Free Templates / Free trips</span></h4>
                  </div>
                  <h1>$49</h1>
                  <a href="#contact" class="btn btn-tan btn-sm">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Pricing Columns -->
        </div> <!-- End of Narror -->
      </div>
      <!-- End of jumbtron -->
      <%= link_to 'Return to Home Page', root_path, class: 'link' %>
    </div>
    <!-- End pricing Section -->
